.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
    
}
.navbar img{
    width: 100px;
    height: 100px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background:linear-gradient(90deg,orange,pink);
    font-size: 22px;
    cursor: pointer;
}

.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    text-transform: uppercase;
}
.a{
    text-decoration: none;
    color: white;
    outline: none;
}
.nav-menu li img{
    display: flex;
    margin: auto;
    width: 20px;
    height: 20px;
}
.close{
    display: none;
}
.open{

    display: none;
}
@media(max-width:768px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .open{
        display: block;
        position: fixed;
        right: 30px;
        width: 20px;
        
    }
    .close{
        width:90px;
        height:90px;
        display: block;
        position: relative;
        top: 20px;
        left: 90px;
        
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: center;
        top: 0;
        gap: 30px;
        background-color: rgb(94, 32, 114);
        width:350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right:-350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 50px;
        flex-direction: row;
        gap: 20px;
        padding-top: 40px;
        text-transform: uppercase;
       
    }
}